*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   position: relative;
}
.navbar-top {
    position: fixed;
    background: #0D263B;
    height: 64px;
    color: white;
}
.wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}