*[b-8auldnyfcn]{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body[b-8auldnyfcn]{
   position: relative;
}
.navbar-top[b-8auldnyfcn] {
    position: fixed;
    background: #0D263B;
    height: 64px;
    color: white;
}
.wrapper[b-8auldnyfcn]{
    display: flex;
    justify-content: space-between;
    align-items: center;
}