
@model Houzing2.Models.DTO.LoginModel



@{
    Layout = "_Layout";
}

<div class="w-100">

<nav class="w-100">
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
        <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home" aria-selected="true">Login</button>
        <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Register</button>
    </div>
</nav>
<div class="tab-content" id="nav-tabContent">

    <div class="tab-pane active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">

            <form class="form-field needs-validation" novalidate asp-action="Login" method="post">
                <h2 class="title">Login</h2>
                <p class="subtitle">Login and start managing your candidates!</p>
                    <input type="text" class="login-input" placeholder="Username" asp-for="Username">
                    <input type="password" class="login-input" placeholder="Password" asp-for="Password">

                @if (TempData["msg"] != null)
                {
                    <div class="alert mb-1">
                        @TempData["msg"]
                    </div>
                }

                

                <div class="input-container">
                    <button class="login-btn" type="submit">Login</button>
                </div>
            </form>
    </div>
    <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
        <h1>Register</h1>
    </div>
</div>
</div>